form action="/documenttingz/new" method="POST"
    input type="text" name="docTitle" placeholder="Titel på dokument"
    input type="text" name="docLink" placeholder="Länk till Google doc"
    input type="submit" value="lägg till dokument"